.container {
	padding: 0.5em 1em 0.5em 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}

.randomize_elements div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.randomize_elements div input[type=number] {
	width: 5em;
	margin-left: 1em;
}

.randomize_elements div input[type=radio] {
	margin-bottom: 1em;
}

.custom_input {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.custom_input div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.custom_input div input[type=text] {
	width: auto;
	margin-left: 1em;
}

.custom_input div input[type=radio] {
	margin-bottom: 1em;
}

.custom_input p {
	width: 20vw;
}

.radio_label {
	color: darkslategray;
}

.sorting_options_container {
	width: 30%;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(3, auto);
}

.sorting_option {
	padding: 0.1em;
}

.sorting_option_chosen {
	background-color: green;
	padding: 0.1em;
}