.container {
	padding: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	font-size: smaller;
	border: 1px solid black;
	box-shadow: 1px 1px;
}

.randomize_elements div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.randomize_elements div label {
	margin: 0em 1em 0em 0em;
	display: flex;
	align-items: center;
}

.randomize_elements div Input[type=number] {
	width: 5em;
}

.custom_input {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.custom_input div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.custom_input div label {
	margin: 0em 1em 0em 0em;
	display: flex;
	align-items: center;
}

.custom_input div input[type=text] {
	width: auto;
}

.custom_input p {
	width: 20vw;
	margin-top: 1em;
}

.sorting_options_container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(2, auto);
}

.sorting_options_container div {
	margin: 0.2em 0.2em 0em 0em;
}